html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 1.6em;
  margin: 0.5em 0 0;
}

h3 {
  font-size: 1em;
  margin-top: 0.5em;
}

.container {
  margin: 0 auto;
  padding: 0 1em 2em 1em;
  max-width: 1024px;
}

.mixcloud-iframe {
  background: #e9e9e9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1em 1em 0.5em 1em;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

header a {
  font-size: 2em;
  color: #000;
}

.logo-header {
  max-width: 120px;
  height: auto;
  margin-bottom: 0.25em;
}

.artists-container {
}

.artists-row {
  display: flex;
}

@media (max-width: 425px) {
  .artists-row {
    flex-direction: column;
  }
}

.artists-col {
  flex: 1;
  padding: 1em;
}
